<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Meta -->
    <meta charset="UTF-8">
    <title>{{ _("page-title") }}</title>
    <link rel="shortcut icon" href="{{ url_for ('ux.static', filename='img/favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('ux.static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
        integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.0.2/dist/bulma-tooltip.min.css"
        integrity="sha384-EBGMr0LJD7tRVfxRKCHIGWo0kMW1fseE7eFCIZFyF/nzdZMxZ1/u6DBSuyrXdBCP" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"
        integrity="sha384-2EzQg7I8N+khgGamQGW3EG0Dzz5Kx6mPuxN7er0BRJ2iKZZHQCfi9g1LjrmOfvHV" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script>
        window["LOCALE"] = "{{LOCALE}}";
    </script>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"
        integrity="sha384-R+4Ivym139x+5G2a03CfiIp2ZInb03PRZcuibbrPsTpQ8DPaXeLZ71pzuLRyOFZN"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

    {% block extralib %}
    {% endblock %}
</head>

<body>
    <div class="dashboard is-full-height">
        <div class="dashboard-panel is-small dpy-special-white">
            <header class="dashboard-panel-header">
                <div class="has-text-centered">
                    <img src="{{ url_for('ux.static', filename='img/logo.png') }}" width="112" height="28">
                </div>
            </header>

            <div class="dashboard-panel-content">
                <aside class="menu has-text-white">
                    <p class="menu-label">
                        {{ _("category-general") }}
                    </p>
                    <ul class="menu-list">
                        <li><a id="navIndex" href="{{ url_for('ux.index') }}">{{ _("page-shows") }}</a></li>
                        <li><a id="navNyaa" href="{{ url_for('ux.nyaa_search') }}">{{ _("page-nyaa") }}</a></li>
                    </ul>
                    <p class="menu-label">
                        {{ _("category-settings") }}
                    </p>
                    <ul class="menu-list">
                        <li><a id="navWebhooks" href="{{ url_for('ux.webhooks') }}">{{ _("page-webhooks") }}</a></li>
                        <li><a id="navConfig" href="{{ url_for('ux.config') }}">{{ _("page-config") }}</a></li>
                        <li><a id="navLogs" href="{{ url_for('ux.logs') }}">{{ _("page-logs") }}</a></li>
                    </ul>
                </aside>
            </div>

            <div class="menu-panel-footer has-text-centered is-size-7">
                <a href="{{ url_for('ux.logout') }}" class="button is-danger is-small">{{ _("logout-button") }}</a>
                <p class="mt-4">Tsundoku v{{ stats.version }} {% if docker %}🐋{% endif %}</p>
                <p><b>Tsundoku</b> is an <a href="https://github.com/tylergibbs2/Tsundoku">open-source project.</a></p>
                <p>Copyright (c) 2020-2022 Tyler Gibbs</p>
            </div>
        </div>

        <div class="dashboard-main is-scrollable">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

{% block webpack %}
{% endblock %}

</html>