{% extends "base.html" %}

{% set max_cards = 10 %}

{% block extralib %}
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.4/awesomplete.min.css">
<link rel="stylesheet" href="{{ url_for('ux.static', filename='css/index.css') }}">

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.4/awesomplete.min.js"></script>
<script src="https://kit.fontawesome.com/3934b533e3.js" crossorigin="anonymous"></script>
<script src="{{ url_for('ux.static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content %}

{% include "modals/update_modal.html" %}

{% include "modals/shows/delete_modal.html" %}

{% include "modals/shows/edit_modal.html" %}

{% include "modals/shows/add_modal.html" %}

{% include "messages.html" %}

<section class="section">
    <div class="container mb-3">
        <h1 class="title">Shows</h1>
        <h2 class="subtitle">Tracked shows in RSS</h2>
    </div>

    <div id="show-card-container" class="container">
        <div class="columns is-multiline">
            {% set not_shown = namespace(value=0) %}
            {% set total_entries = namespace(value=0) %}
            {% for show in shows %}
            <div class="column is-one-fifth {% if loop.index > max_cards %}is-hidden{% endif %}">
                {% if loop.index > max_cards %}
                {% set not_shown.value = not_shown.value + 1 %}
                {% endif %}
                {% set total_entries.value = total_entries.value + show.entries|length %}
                <div class="card">
                    {% if show.image %}
                    <div class="card-image">
                        {% if show.status %}
                        {{ show.status|safe }}
                        {% endif %}
                        <a href="{{ show.link }}">
                            <figure class="image is-3by4">
                                <img src="{{ show.image }}">
                            </figure>
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="subtitle has-tooltip-arrow has-tooltip-multiline has-tooltip-up"
                            data-tooltip="{{ show.title }}">
                            <span>
                                {% if show.link %}
                                <a href="{{ show.link }}"><b>{{ show.title }}</b></a>
                                {% else %}
                                <b>{{ show.title }}</b>
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a onclick='openEditShowModal( {{ show|tojson }} );'>Edit</a>
                        </p>
                        <p class="card-footer-item">
                            <a onclick='openDeleteShowModal( {{ show|tojson }} );'>Delete</a>
                        </p>
                    </footer>
                </div>
            </div>
            {% else %}
            <div class="container has-text-centered my-6">
                <h3 class="title is-3">Nothing to see here!</h3>
                <h4 class="subtitle is-5">Begin by adding a show below.</h4>
            </div>
            {% endfor %}
        </div>
        {% if not_shown.value %}
        <a id="all-shows-link">
            <p class="has-text-centered">
                Click to see {{ not_shown.value}} more item{% if not_shown.value > 1 %}s{% endif %}...
            </p>
        </a>
        <a id="back-to-top-link" class="is-hidden">
            <p class="has-text-centered">Back to Top</p>
        </a>
        {% endif %}
    </div>

    <div class="container has-text-centered mt-3">
        <button class="button is-medium is-success" onclick="openAddShowModal();">Add show</button>
    </div>

</section>

<footer class="footer">
    <div class="columns">
        <div class="column has-text-centered">
            <p>Currently tracking <b>{{ total_entries.value }}</b> release{% if total_entries.value > 1 or
                total_entries.value == 0 %}s{% endif %} across <b>{{ shows|length }}</b> show{% if shows|length > 1 or
                shows|length == 0 %}s{% endif %}</p>
            <p>There {% if seen_titles|length > 1 or seen_titles|length == 0 %}are{% else %}is{% endif %} currently
                <b>{{ seen_titles|length }}</b> unique title{% if seen_titles|length > 1 or seen_titles|length == 0
                %}s{% endif %} in your RSS feeds
            </p>
        </div>
        <div class="column has-text-centered">
            Tsundoku v{{ version }} {% if docker %}🐋{% endif %}
        </div>
        <div class="column has-text-centered">
            <p><b>Tsundoku</b> is an <a href="https://github.com/tylergibbs2/Tsundoku">open-source project.</a></p>
            <p>Copyright (c) 2020 Tyler Gibbs</p>
        </div>
    </div>
</footer>

{% endblock %}