<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('ux.index') }}">
            <img src="{{ url_for('ux.static', filename='img/logo.png') }}" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <a href="{{ url_for('ux.index') }}" class="navbar-item">
                Shows
            </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ url_for('ux.logout') }}" class="navbar-item">
                    Logout
                </a>

                <div class="navbar-dropdown is-right">
                    <a href="{{ url_for('ux.update_') }}" class="navbar-item">
                        Check for Updates
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>