{% extends "base.html" %}

{% block nav_nyaa %}is-active{% endblock %}

{% block extralib %}
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.4/awesomplete.min.css">
<link rel="stylesheet" href="{{ url_for('ux.static', filename='css/nyaa_search.css') }}">

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.4/awesomplete.min.js"></script>
<script src="https://kit.fontawesome.com/3934b533e3.js" crossorigin="anonymous"></script>
{% endblock %}

{% block webpack %}
<script src="{{ url_for('ux.static', filename='js/nyaa.js') }}"></script>
{% endblock %}

{% block content %}

{% include "messages.html" %}

<section id="nyaa-main" class="section">


</section>

{% endblock %}