{% extends "base.html" %}

{% block nav_webhooks %}is-active{% endblock %}

{% block extralib %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('ux.static', filename='css/webhooks.css') }}">
{% endblock %}

{% block webpack %}
<script src="{{ url_for('ux.static', filename='js/webhooks.js') }}"></script>
{% endblock %}

{% block content %}

{% include "modals/webhooks/add_modal.html" %}

{% include "modals/webhooks/edit_modal.html" %}

{% include "modals/webhooks/delete_modal.html" %}

{% include "messages.html" %}

<section class="section">
    <div class="container mb-3">
        <h1 class="title">{{_("webhooks-page-title")}}</h1>
        <h2 class="subtitle">{{_("webhooks-page-subtitle")}}</h2>
    </div>

    <div id="webhook-card-container" class="container">
        <div class="columns is-multiline">
            {% for webhook in bases %}
            <div class="column is-one-quarter">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ webhook.name }}
                        </p>
                        <a class="card-header-icon">
                            <span class="icon">
                                <figure class="image is-16x16">
                                    {% if webhook.service == "discord" %}
                                    <img src="{{ url_for('ux.static', filename='img/discord.png') }}">
                                    {% elif webhook.service == "slack" %}
                                    <img src="{{ url_for('ux.static', filename='img/slack.png') }}">
                                    {% endif %}
                                </figure>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <p class="is-size-6 has-text-centered py-4">
                            <b>{% if webhook.valid %}{{_("webhook-status-valid")}}{% else %}{{_("webhook-status-invalid")}}{% endif %}</b>
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a onclick='openEditWebhookModal( {{ webhook|tojson }} );'>{{_("webhook-edit-link")}}</a>
                        </p>
                        <p class="card-footer-item">
                            <a onclick='openDeleteWebhookModal( {{ webhook|tojson }} );'>{{_("webhook-delete-link")}}</a>
                        </p>
                    </footer>
                </div>
            </div>
            {% else %}
            <div class="container has-text-centered my-6">
                <h3 class="title is-3">{{_("webhook-page-empty")}}</h3>
                <h4 class="subtitle is-5">{{_("webhook-page-empty-subtitle")}}</h4>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container has-text-centered mt-3">
        <button class="button is-medium is-success" onclick="openAddWebhookModal();">{{_("webhook-add-button")}}</button>
    </div>
</section>

{% endblock %}