# Python Cache Files
*.pyc

# VS code settings
\.vscode/

# Virtual env
.venv

# Local config
config.ini
config.old

# Log file
tsundoku.log

# Node modules
node_modules
act

# Database
tsundoku.db
tsundoku.db-shm
tsundoku.db-wal

# Ignore built JS
tsundoku/blueprints/ux/static/js/*.js