# Python Cache Files
*.pyc
.coverage

# Ruff cache
.ruff_cache

# Virtual env
.venv
.pytest_cache

# Local config
config.ini
config.old
.env

# Log file
tsundoku.log

# Node modules
node_modules
act
tsundoku/blueprints/ux/static/js

# Database
data/
tsundoku.db
tsundoku.db-shm
tsundoku.db-wal

# Installed sources
sources
data

# Bundled app
*.zip
run.py
file