# Python Cache Files
*.pyc

# VS code settings
\.vscode/

# Virtual env
.venv
.pytest_cache

# Local config
config.ini
config.old
.env

# Log file
tsundoku.log

# Node modules
node_modules
act
tsundoku/blueprints/ux/static/js

# Database
tsundoku.db
tsundoku.db-shm
tsundoku.db-wal

# Installed sources
sources
data