[Tsundoku]
host = localhost
port = 6439
parsers = [
    "parsers.subsplease"
    ]
polling_interval = 900
complete_check_interval = 15
fuzzy_match_cutoff = 90
do_update_checks = true
check_every_n_days = 1
git_path = git
locale = en
log_level = info

[TorrentClient]
client = deluge
host = localhost
port = 8112
username = admin
password = password
secure = false