[Tsundoku]
host = localhost
port = 6439
parsers = [
    "horriblesubs"
    ]
polling_interval = 900

[PostgreSQL]
host = localhost
port = 5432
database = tsundoku
user = postgres
password = password

[TorrentClient]
client = deluge
host = localhost
port = 8112
username = admin
password = password
secure = false