[Tsundoku]
host = localhost
port = 6439
parsers = [
    "parsers.subsplease",
    "parsers.erairaws"
    ]
polling_interval = 900
do_update_checks = true
check_every_n_days = 1
git_path = git

[PostgreSQL]
host = localhost
port = 5432
database = tsundoku
user = postgres
password = password

[TorrentClient]
client = deluge
host = localhost
port = 8112
username = admin
password = password
secure = false