git+https://github.com/igorcmoura/anitopy.git@1a151905087c99e60bc6915fcd86c2e7fdd247e0
apscheduler==3.10.4
argon2-cffi==23.1.0
aiofiles==23.2.1
aiohttp==3.8.5
bencodepy==0.9.5
distro==1.8.0
feedparser==6.0.10
fluent.runtime==0.4.0
user-agents==2.2.0
quart-auth==0.8.0
quart-rate-limiter==0.9.0
quart==0.19.3
typing-extensions==4.5.0
yoyo-migrations==8.2.0
