:root {
    --light-grey: hsl(0, 0%, 93%);
}

html::-webkit-scrollbar {
    display: none;
  }

html, body {
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dpy-special-white {
    background-color: hsl(0, 0%, 92%);
}

.menu-panel-footer {
    position: absolute;
    bottom: 3%;
}

.menu-panel-footer p {
    position: relative;
}