#show-card-container {
    background-color: var(--light-grey);
    border-radius: 20px;
    padding: 15px;
}

.card {
    border-radius: 7.5px;
}

img {
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
}

.card-image {
    position: relative;
}

.img-overlay-span {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}