#logs-main {
    height: 100%;
}

.logrow-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}

.logrow-container > div {
    width: 99%;
}

.logrow-container > div:first-child {
    flex: 1 1 auto;
}

.logrow-container > div:not(:first-child) {
    flex: 0 0 auto;
}

.logrow-container > div:last-child {
    scroll-snap-align: end;
}