<div id="delete-show-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{_("delete-modal-header")}}</p>
            <button class="delete" onclick="closeModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <p id="confirm-delete-text"></p>
        </section>

        <footer class="modal-card-foot">
            <button id="delete-show-button" class="button is-danger">{{_("delete-confirm-button")}}</button>
            <button class="button" onclick="closeModals();">{{_("delete-cancel")}}</button>
        </footer>
    </div>
</div>