<div id="delete-show-modal" class="modal">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete Show</p>
            <button class="delete" onclick="closeModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <p>Are you sure you want to delete this item?</p>
        </section>

        <footer class="modal-card-foot">
            <button id="delete-show-button" class="button is-danger">Delete</button>
            <button class="button" onclick="closeModals();">No, take me back</button>
        </footer>
    </div>
</div>