<div id="edit-show-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Show</p>
            <div class="buttons">
                <button id="del-cache-btn" class="button is-warning">Clear Cache</button>
                <div id="fix-match-dropdown" class="dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button is-link" onclick="toggleFixMatchDropdown();">
                            <span>Fix Match</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <p><strong>Kitsu.io Show ID</strong></p>
                            </div>
                            <div class="dropdown-item">
                                <input id="fix-match-input" type="number" min="0" class="input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="modal-card-body">
            <div class="tabs">
                <ul>
                    <li id="show-info-tab" class="is-active"><a onclick="displayShowInfo();">Information</a></li>
                    <li id="show-entry-tab"><a onclick="displayShowEntries();">Entries</a></li>
                </ul>
            </div>

            <div id="entry-tab-display" class="container is-hidden">
                <table id="show-entry-table" class="table is-fullwidth is-hoverable">
                    <caption id="entry-table-caption">Show Title</caption>
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <form id="add-show-entry-form" submit>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field-label is-normal">
                                <label class="label">Episode</label>
                            </div>
                            <div class="field">
                                <input name="episode" class="input" type="number" value="0" required>
                            </div>
                            <div class="field">
                                <input name="magnet" class="input" type="text" placeholder="Magnet URL">
                            </div>
                            <input type="hidden" name="show_id">
                            <input class="button is-success" type="submit" value="Add entry"></button>
                        </div>
                    </div>
                </form>
            </div>

            <form id="edit-show-form" submit>
                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Name of the title as it appears in the RSS feed.">Name</span>
                    </label>
                    <div class="control">
                        <input name="title" class="input" type="text" placeholder="Show title" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Desired name of the file after it is renamed.">Desired Format</span>
                    </label>
                    <div class="control">
                        <input name="desired_format" class="input" type="text" placeholder="{n} - {s00e00}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Folder which to place the completed file.">Desired Folder</span>
                    </label>
                    <div class="control">
                        <input name="desired_folder" class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Value to use for the season of the series when renaming.">Season</span>
                    </label>
                    <div class="control">
                        <input name="season" class="input" type="number" value="1" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Positive or negative value by which to modify the episode number as it appears in the RSS feed.">Episode
                            Offset</span>
                    </label>
                    <div class="control">
                        <input name="episode_offset" class="input" type="number" value="0" required>
                    </div>
                </div>

                <input name="kitsu_id" type="hidden">
            </form>
        </section>

        <footer class="modal-card-foot">
            <progress class="progress is-primary is-hidden is-small mt-2" max="100"></progress>
            <input class="button is-success submits-modals" type="submit" form="edit-show-form" value="Save changes"></button>
            <button class="button closes-modals" onclick="closeModals();">Cancel</button>
        </footer>
    </div>
</div>