{% if updates|length > 0 %}
<script>
  var canCloseModals = true;

  function closeModals() {
    if (canCloseModals)
      document.querySelector(".modal").classList.remove("is-active");
  }

  function updateTsundoku() {
    canCloseModals = false;
    document.querySelector("#update-button").classList.add("is-loading");

    $.ajax({
      url: "/update",
      type: "POST",
    });

    function poll() {
      setTimeout(function () {
        $.ajax({
          url: "/",
          type: "GET",
          success: function () {
            location.reload();
          },
          statusCode: {
            302: function (xhr) {
              location.reload();
            },
          },
          complete: function () {
            poll();
          },
          timeout: 1000,
        });
      }, 1000);
    }

    setTimeout(poll, 5000);
  }
</script>

<div class="modal modal-fx-fadeInScale is-active">
  <div class="modal-background" onclick="closeModals();"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ _("update-detected") }}</p>
      <button
        class="delete"
        onclick="closeModals();"
        aria-label="close"
      ></button>
    </header>

    <section class="modal-card-body">
      <p class="has-text-centered">
        {{ _("update-commits-behind", {'count': updates|length}) }}
      </p>
      <hr />
      <p>{{ _("update-prompt", {'count': updates|length}) }}</p>
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>{{ _("update-th-commit") }}</th>
              <th>{{ _("update-th-message") }}</th>
            </tr>
          </thead>
          <tbody>
            {% for hash_, msg in updates[:10] %} {% if loop.index0 == 0 %}
            <tr class="is-selected">
              {% else %}
            </tr>

            <tr>
              {% endif %}
              <th>
                <a
                  href="https://github.com/tylergibbs2/Tsundoku/commit/{{ hash_ }}"
                  >{{ hash_[:6] }}</a
                >
              </th>
              <td>{{ msg }}</td>
            </tr>
            {% endfor %} {% if updates|length > 10 %}
            <tr>
              <td>...</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </section>

    <footer class="modal-card-foot">
      <button
        id="update-button"
        class="button is-primary"
        onclick="updateTsundoku();"
      >
        {{ _("update-button" )}}
      </button>
      <button class="button" onclick="closeModals();">
        {{ _("update-close-button") }}
      </button>
    </footer>
  </div>
</div>
{% endif %}
