<div id="help-modal" class="modal">
    <div class="modal-background" onclick="closeModal();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Registration Help</p>
            <button class="delete" onclick="closeModal();"></button>
        </header>
        <section class="modal-card-body">

        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="closeModal();">Close</button>
        </footer>
    </div>
</div>