<div id="add-webhook-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeWebhookModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{_("add-modal-header")}}</p>
            <button class="delete" onclick="closeWebhookModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <form id="add-webhook-form" submit>
                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="{{_('add-form-name-tt')}}">{{_("add-form-name-field")}}</span>
                    </label>
                    <div class="control">
                        <input name="name" class="input" type="text" placeholder="{{_('add-form-name-placeholder')}}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="{{_('add-form-service-tt')}}">{{_("add-form-service-field")}}</span>
                    </label>
                    <div class="select">
                        <select name="service">
                            <option value="discord">Discord</option>
                            <option value="slack">Slack</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="{{_('add-form-url-tt')}}">{{_("add-form-url-field")}}</span>
                    </label>
                    <div class="control">
                        <input name="url" class="input" pattern="https://.*" type="url" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="{{_('add-form-content-tt')}}">{{_("add-form-content-field")}}</span>
                    </label>
                    <div class="control">
                        <input name="content_fmt" class="input" type="text" placeholder="{name}, episode {episode}, has been marked as {state}">
                    </div>
                </div>

            </form>
        </section>

        <footer class="modal-card-foot is-size-7">
            <input class="button is-success" type="submit" form="add-webhook-form"
                value="{{_('add-form-add-button')}}"></button>
            <button class="button closes-modals" onclick="closeWebhookModals();">{{_('add-form-cancel-button')}}</button>
        </footer>
    </div>
</div>