<div id="delete-webhook-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeWebhookModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{_("delete-modal-header")}}</p>
            <button class="delete" onclick="closeWebhookModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <p id="delete-confirm-text"></p>
        </section>

        <footer class="modal-card-foot">
            <button id="delete-webhook-button" class="button is-danger">{{_("delete-confirm-button")}}</button>
            <button class="button" onclick="closeWebhookModals();">{{_("delete-cancel")}}</button>
        </footer>
    </div>
</div>